@model StyleModel
@inject IFileManagerLocalization localization
@{
    Layout = "CommonPage";
    Context.Items["PageStyle"] = "/styles/admin_panel/file_manager/edit_template.css";
    Context.Items["PageName"] = $"{localization.EditScriptPageName} {Model.FileName}";
    User user = Context.Items["User"] as User;
    string path = Context.Items["PathToFile"] as string;
}
<script src="/scripts/admin_panel/send_data.js"></script>
            <script src="/scripts/admin_panel/insert_tab.js"></script>
            <form id="edit-script" class="page-container">
                <input type="hidden" name="pageID" value="@((int)AdminPanelPages.EditScript)" />
                <input type="hidden" name="path" value="@Html.Raw(path)" />
                <div class="name-block">
                    <label for="Name">@Html.Raw(localization.Name)</label>
                    <input type="text" id="Name" name="StyleModel.FileName" value="@Model?.FileName" required />
                </div>
                <label for="TemplateSource">@Html.Raw(localization.FileContent)</label>
                <textarea id="TemplateSource" name="StyleModel.FileContent">@Model?.FileContent</textarea>
                <input id="edit-button" type="submit" value="@Html.Raw(localization.SaveButton)" />
            </form>
            <script>
                function errorHandler(formElement) {
                    let errorMsgElement = document.getElementById('error-msg');
                    if (errorMsgElement === null) {
                        errorMsgElement = document.createElement('span');
                        errorMsgElement.setAttribute('id', 'error-msg');
                        formElement.insertBefore(errorMsgElement, formElement.firstChild);
                    }
                    errorMsgElement.textContent = '@Html.Raw(localization.IncorrectInput)';
                }
                function responseHandler(request, formElement) {
                    if (request.status == 200) {
                        alert('@Html.Raw(localization.ScriptFileEdited)');
                        location.replace(request.getResponseHeader('location'));
                    }
                    else if (request.status == 422) {
                        errorHandler(formElement);
                    }
                }
                document.getElementById('edit-button').addEventListener('click', createSendDataEventHandler('POST', 'edit-script', responseHandler, errorHandler));
                document.getElementById('TemplateSource').addEventListener('keydown', insertTabEventHandler);
            </script>