@model StyleModel
@inject IFileManagerLocalization localization
@{
    Layout = "CommonPage";
    Context.Items["PageStyle"] = "/styles/admin_panel/file_manager/edit_template.css";
    Context.Items["PageName"] = $"{localization.EditStylePageName} {Model.FileName}";
    User user = Context.Items["User"] as User;
    string path = Context.Items["PathToFile"] as string;
}
<script src="/scripts/admin_panel/send_data.js"></script>
            <script src="/scripts/admin_panel/insert_tab.js"></script>
            <form id="edit-style-file-form" class="page-container">
                <div class="name-block">
                    <label for="Name">@Html.Raw(localization.Name)</label>
                    <input type="text" id="Name" name="StyleModel.FileName" value="@Model?.FileName" required />
                </div>
                <label for="TemplateSource">@Html.Raw(localization.FileContent)</label>
                <textarea id="TemplateSource" name="StyleModel.FileContent">@Model?.FileContent</textarea>
                <input id="edit-style-file-button" type="submit" value="@Html.Raw(localization.SaveButton)" />
            </form>
            <script>
                function errorHandler(formElement) {
                    let errorMsg = document.createElement('span');
                    errorMsg.textContent = '@Html.Raw(localization.IncorrectInput)';
                    errorMsg.setAttribute('id', 'error-msg');
                    formElement.insertBefore(errorMsg, formElement.firstChild);
                }
                function successfulRequestHandler(request) {
                    alert('@Html.Raw(localization.StyleFileEdited)');
                    location.replace(request.getResponseHeader('location'));
                }
                let editStyleFileButton = document.getElementById('edit-style-file-button');
                editStyleFileButton.addEventListener('click', createSendDataEventHandler('POST', '?pageID=@((int)AdminPanelPages.EditStyle)&path=@Html.Raw(path)', 'edit-style-file-form', successfulRequestHandler, errorHandler));
                let textarea = document.getElementById('TemplateSource');
                textarea.addEventListener('keydown', insertTabEventHandler);
            </script>