@using Treynessen.FileManagerManagement;
@inject IFileManagerLocalization localization;
@model FileManagerObject[]
@{
    Layout = "CommonPage";
    Context.Items["PageStyle"] = "/styles/admin_panel/file_manager/index.css";
    Context.Items["PageName"] = localization.FileManagerPageName;
    LinkedList<KeyValuePair<string, string>> breadcrumbs = Context.Items["CurrentDirectoryBreadcrumbs"] as LinkedList<KeyValuePair<string, string>>;
    // Key - название, Value - путь
    User user = Context.Items["User"] as User;
}
<script src="/scripts/admin_panel/send_data.js"></script>
            <script>
                function deletedFileOrFolder(request) {
                    alert('@Html.Raw(localization.Deleted)');
                    location.replace(request.getResponseHeader('location'));
                }
                function incorrectRequest() {
                    alert('@Html.Raw(localization.IncorrectRequest)');
                }
            </script>
            <div class="breadcrumb-list">
            @for (LinkedListNode<KeyValuePair<string, string>> node = breadcrumbs.First; node != null; node = node.Next)
            {
                if (node.Next != null)
                {
                <a href="@Context.Request.Path?pageID=@((int)AdminPanelPages.FileManager)@(!string.IsNullOrEmpty(node.Value.Value) ? $"&path={node.Value.Value}" : string.Empty)">@Html.Raw(node.Value.Key)</a>
                }
                else
                {
                <div>@Html.Raw(node.Value.Key)</div>
                }
            }
            </div>
            <div class="action-list">
            @if (SecurityFunctions.HasAccessTo(AdminPanelPages.UploadFile, user, Context))
            {
                <script src="/scripts/admin_panel/send_file.js"></script>
                <form class="upload-file-form">
                    <div class="input-file-button">
                        <label for="upload-file-button">@Html.Raw(localization.UploadFile)</label>
                        <input type="file" id="upload-file-button" name="uploadedFile" accept=".png, .jpg, .jpeg, .bmp, .gif, .css, .js, .ico" />
                    </div>
                </form>
                <script>
                    function successfulUpload() {
                        alert('@Html.Raw(localization.FileUploaded)');
                        location.reload();
                    }
                    function unsuccessfulUpload() {
                        alert('@Html.Raw(localization.UnsuccessfulFileUpload)');
                    }
                    let uploadFileButton = document.getElementById('upload-file-button');
                    uploadFileButton.addEventListener('change', createSendFileEventHandler('?pageID=@((int)AdminPanelPages.UploadFile)&path=@Html.Raw(breadcrumbs.Last.Value.Value)', successfulUpload, unsuccessfulUpload,'.png', '.jpg', '.jpeg', '.bmp', '.gif', '.css', '.js', '.ico'));
                </script>
            }
            @if (SecurityFunctions.HasAccessTo(AdminPanelPages.CreateFolder, user, Context))
            {
                <form id="create-folder-form" class="create-foler-or-template-file">
                    <input type="hidden" name="path" value="@Html.Raw(breadcrumbs.Last.Value.Value)" />
                    <input id="create-folder-button" type="submit" value="@Html.Raw(localization.Create)" />
                    <input type="text" name="name" placeholder="@Html.Raw(localization.FolderName)" />
                </form>
                <script>
                    function createdFolder() {
                        alert('@Html.Raw(localization.FolderCreated)');
                        location.reload();
                    }
                    function folderCreationError() {
                        alert('@Html.Raw(localization.IncorrectRequest)');
                    }
                    let createFolderButton = document.getElementById('create-folder-button');
                    createFolderButton.addEventListener('click', createSendDataEventHandler('POST', '?pageID=@((int)AdminPanelPages.CreateFolder)', 'create-folder-form', createdFolder, folderCreationError));
                </script>
            }
            @if (SecurityFunctions.HasAccessTo(AdminPanelPages.CreateStyle, user, Context))
            {
                <form id="create-style-file-form" class="create-foler-or-template-file">
                    <input type="hidden" name="path" value="@Html.Raw(breadcrumbs.Last.Value.Value)" />
                    <input id="create-style-file-button" type="submit" value="@Html.Raw(localization.Create)" />
                    <input type="text" name="name" placeholder="@Html.Raw(localization.CssFileName)" />
                </form>
                <script>
                    function createdStyleFile() {
                        alert('@Html.Raw(localization.StyleFileCreated)');
                        location.reload();
                    }
                    function styleFileCreationError() {
                        alert('@Html.Raw(localization.IncorrectRequest)');
                    }
                    let createStyleFileButton = document.getElementById('create-style-file-button');
                    createStyleFileButton.addEventListener('click', createSendDataEventHandler('POST', '?pageID=@((int)AdminPanelPages.CreateStyle)', 'create-style-file-form', createdStyleFile, styleFileCreationError));
                </script>
            }
            @if (SecurityFunctions.HasAccessTo(AdminPanelPages.CreateScript, user, Context))
            {
                <form id="create-script-file-form" class="create-foler-or-template-file">
                    <input type="hidden" name="path" value="@Html.Raw(breadcrumbs.Last.Value.Value)" />
                    <input id="create-script-file-button" type="submit" value="@Html.Raw(localization.Create)" />
                    <input type="text" name="name" placeholder="@Html.Raw(localization.ScriptFileName)" />
                </form>
                <script>
                    function createdScriptFile() {
                        alert('@Html.Raw(localization.ScriptFileCreated)');
                        location.reload();
                    }
                    function scriptFileCreationError() {
                        alert('@Html.Raw(localization.IncorrectRequest)');
                    }
                    let createScriptFileButton = document.getElementById('create-script-file-button');
                    createScriptFileButton.addEventListener('click', createSendDataEventHandler('POST', '?pageID=@((int)AdminPanelPages.CreateScript)', 'create-script-file-form', createdScriptFile, scriptFileCreationError));
                </script>
            }
            </div>
            <table>
                <tr>
                    <td>@Html.Raw(localization.Name)</td>
                    <td></td>
                </tr>
                @{ int it = 1; }
            @foreach (var f in Model)
            {
                <tr>
            @if (f.Type == FileManagerObjectType.Folder)
            {
                    <td><a href="@Context.Request.Path?pageID=@((int)AdminPanelPages.FileManager)&path=@f.ShortPath">@Html.Raw(localization.Folder): <b>@Html.Raw(f.Name)</b></a></td>
            }
            else if (f.Type == FileManagerObjectType.Image)
            {
                    <td><a href="/@f.ShortPath.Replace('>', '/')">@Html.Raw(localization.Image): <b>@Html.Raw(f.Name)</b></a></td>
            }
            else if (f.Type == FileManagerObjectType.Script)
            {
                if (SecurityFunctions.HasAccessTo(AdminPanelPages.EditScript, user, Context))
                {
                    <td><a href="@Context.Request.Path?pageID=@((int)AdminPanelPages.EditScript)&path=@f.ShortPath">@Html.Raw(localization.Script): <b>@Html.Raw(f.Name)</b></a></td>
                }
                else
                {
                    <td><a href="/@f.ShortPath.Replace('>', '/')">@Html.Raw(localization.Script): <b>@Html.Raw(f.Name)</b></a></td>
                }
            }
            else
            {
                if (SecurityFunctions.HasAccessTo(AdminPanelPages.EditStyle, user, Context))
                {
                    <td><a href="@Context.Request.Path?pageID=@((int)AdminPanelPages.EditStyle)&path=@f.ShortPath">@Html.Raw(localization.Style): <b>@Html.Raw(f.Name)</b></a></td>
                }
                else
                {
                    <td><a href="/@f.ShortPath.Replace('>', '/')">@Html.Raw(localization.Style): <b>@Html.Raw(f.Name)</b></a></td>
                }
            }
                    <td>
                @if (SecurityFunctions.HasAccessTo(AdminPanelPages.DeleteFileOrFolder, user, Context))
                {
                    if (f.CanDelete)
                    {
                        <form id="delete-file-or-folder-form-@it">
                            <input type="hidden" name="path" value="@Html.Raw(f.ShortPath)" />
                            <input id="delete-file-or-folder-button-@it" type="submit" class="delete-button" value="@Html.Raw(localization.Delete)" />
                        </form>
                        <script>
                            let deleteFileOrFolderButton_@(it) = document.getElementById('delete-file-or-folder-button-@(it)');
                            deleteFileOrFolderButton_@(it).addEventListener('click', createSendDataEventHandler('DELETE', '?pageID=@((int)AdminPanelPages.DeleteFileOrFolder)', 'delete-file-or-folder-form-@(it)', deletedFileOrFolder, incorrectRequest));
                        </script>
                    }
                    else
                    {
                        <input type="submit" class="disabled-delete-button" disabled value="@Html.Raw(localization.Delete)" />
                    }
                }
                    </td>
                </tr>
                    ++it;
                }
            </table>