@model Page
@{ Dictionary<int, int> counters = new Dictionary<int, int>(); }<div class="content-block">
	<div class="navigation-menu">@(Model != null ? Html.Raw(Model.BreadcrumbsHtml) : Html.Raw(string.Empty)) → @(Model != null ? Html.Raw(Model.PageName) : Html.Raw(string.Empty))</div>
	<div class="container">
		<div class="gallery">
			<a class="selected-image-block" data-lightbox="image" data-title="@(Model != null ? Html.Raw(Model.PageName) : Html.Raw(string.Empty))"><img id="selected-image"></a>
			<div id="image-container">
				@{ var env = Context.RequestServices.GetService(typeof(Microsoft.AspNetCore.Hosting.IHostingEnvironment)) as Microsoft.AspNetCore.Hosting.IHostingEnvironment; foreach (var imgUrl in ImagesManagementFunctions.GetProductImageUrls(Model as ProductPage, env, 0)) { <text><div id="image-@{ if(!counters.ContainsKey(1)) { counters.Add(1, 0); } <text>@(++counters[1])</text> }"><image src="@(imgUrl)" max-width="350" max-height="270" quality="95"></image></div></text> } }
			</div>
		</div>
		<div class="info-container">
			<div class="product-name">@(Model != null ? Html.Raw(Model.PageName) : Html.Raw(string.Empty))</div>
			<div class="price"><span>Цена:</span>@(Model is ProductPage && (Model as ProductPage).OldPrice != 0 ? Html.Raw("<span>" + OtherFunctions.PriceFormatting((Model as ProductPage).Price) + "</span><span>" + OtherFunctions.PriceFormatting((Model as ProductPage).OldPrice) + "</span>") : Html.Raw("<span>" + OtherFunctions.PriceFormatting((Model as ProductPage).Price) + "</span>"))</div>
			<div class="offer">Если найдете цену ниже, мы предложим более выгодные условия!</div>
			<div class="info">Приходите! У нас огромный ассортимент инструмента, есть другие модели!</div>
			<div class="info">Звоните ежедневно с 11:00 до 17:00 по телефону <a href="tel:89082905999">8 9082 905-999</a></div>
		</div>
	</div>
	<div class="description">
		<div class="tab">Описание</div>
		<div class="text">@(Model != null ? Html.Raw(Model.Content) : Html.Raw(string.Empty))</div>
	</div>
</div>
