@inject ITemplatesLocalization localization
@{
    Layout = "CommonPage";
    Context.Items["PageStyle"] = "/styles/admin_panel/templates/work_with_template.css";
    Context.Items["PageName"] = localization.AddChunkPageName;
}
<script src="/scripts/admin_panel/send_data.js"></script>
            <script src="/scripts/admin_panel/insert_tab.js"></script>
            <form id="add-chunk" class="page-container">
                <input type="hidden" name="pageID" value="@((int)AdminPanelPages.AddChunk)">
                <div class="name-block">
                    <label for="Name">@Html.Raw(localization.Name)</label>
                    <input type="text" id="Name" name="TemplateModel.Name" required />
                </div>
                <label for="TemplateSource">@Html.Raw(localization.TemplateCode)</label>
                <textarea id="TemplateSource" name="TemplateModel.TemplateSource"></textarea>
                <input id="add-button" type="submit" value="@Html.Raw(localization.SaveButton)" />
            </form>
            <script>
                function errorHandler(formElement) {
                    let errorMsgElement = document.getElementById('error-msg');
                    if (errorMsgElement === null) {
                        errorMsgElement = document.createElement('span');
                        errorMsgElement.setAttribute('id', 'error-msg');
                        formElement.insertBefore(errorMsgElement, formElement.firstChild);
                    }
                    errorMsgElement.textContent = '@Html.Raw(localization.IncorrectInput)';
                }
                function responseHandler(request, formElement) {
                    if (request.status == 201) {
                        alert('@Html.Raw(localization.ChunkCreated)');
                        location.replace(request.getResponseHeader('location'));
                    }
                    else if (request.status == 422) {
                        errorHandler(formElement);
                    }
                }
                document.getElementById('add-button').addEventListener('click', createSendDataEventHandler('POST', 'add-chunk', responseHandler, errorHandler));
                document.getElementById('TemplateSource').addEventListener('keydown', insertTabEventHandler);
            </script>