@model Chunk[]
@inject ITemplatesLocalization localization
@{
    Layout = "CommonPage";
    Context.Items["PageStyle"] = "/styles/admin_panel/templates/index.css";
    Context.Items["PageName"] = localization.ChunksPageName;
    User user = Context.Items["User"] as User;
}
<script>
                function responseHandler(request) {
                    if (request.status == 200) {
                        alert('@Html.Raw(localization.ChunkDeleted)');
                        location.reload();
                    }
                    else if (request.status == 404) {
                        alert('@Html.Raw(localization.TemplateNotFound)');
                    }
                }
            </script>
@if (SecurityFunctions.HasAccessTo(AdminPanelPages.AddChunk, user, Context))
{
            <div class="add-template-button"><a href="@Context.Request.Path?pageID=@((int)AdminPanelPages.AddChunk)">@Html.Raw(localization.AddChunk)</a></div>
}
            <table>
                <tr>
                    <td>ID</td>
                    <td>@Html.Raw(localization.ChunkName)</td>
                    <td>@Html.Raw(localization.Actions)</td>
                </tr>
            @foreach (var t in Model)
            {
                <tr>
                    <td>@Html.Raw(t.ID)</td>
                    <td>@Html.Raw(t.Name)</td>
                    <td>
                    @if (SecurityFunctions.HasAccessTo(AdminPanelPages.EditChunk, user, Context))
                    {
                        <form method="get">
                            <input type="hidden" name="pageID" value="@((int)AdminPanelPages.EditChunk)" />
                            <input type="hidden" name="itemID" value="@t.ID">
                            <input type="submit" class="action-button" value="@Html.Raw(localization.EditChunk)" />
                        </form>
                    }
                    @if (SecurityFunctions.HasAccessTo(AdminPanelPages.DeleteChunk, user, Context))
                    {
        <form id="delete-chunk-@t.ID">
                            <input type="hidden" name="pageID" value="@((int)AdminPanelPages.DeleteChunk)">
                            <input type="hidden" name="itemID" value="@t.ID">
                            <input id="delete-button-@t.ID" type="submit" class="action-button" value="@Html.Raw(localization.DeleteChunk)" />
                        </form>
                        <script>
                            document.getElementById('delete-button-@t.ID').addEventListener('click', createSendDataEventHandler('DELETE', 'delete-chunk-@t.ID', responseHandler));
                        </script>
                    }
                    </td>
                </tr>
            }
            </table>