@model Chunk[]
@inject ITemplatesLocalization localization
@{
    Layout = "CommonPage";
    Context.Items["PageStyle"] = "/styles/admin_panel/templates/index.css";
    Context.Items["PageName"] = localization.ChunksPageName;
    User user = Context.Items["User"] as User;
}
<script src="/scripts/admin_panel/send_data.js"></script>
@if (SecurityFunctions.HasAccessTo(AdminPanelPages.AddChunk, user, Context))
{
            <div class="add-template-button"><a href="@Context.Request.Path?pageID=@((int)AdminPanelPages.AddChunk)">@Html.Raw(localization.AddChunk)</a></div>
}
            <table>
                <tr>
                    <td>ID</td>
                    <td>@Html.Raw(localization.ChunkName)</td>
                    <td>@Html.Raw(localization.Actions)</td>
                </tr>
            @foreach (var t in Model)
            {
                <tr>
                    <td>@Html.Raw(t.ID)</td>
                    <td>@Html.Raw(t.Name)</td>
                    <td>
                    @if (SecurityFunctions.HasAccessTo(AdminPanelPages.EditChunk, user, Context))
                    {
                        <form method="get">
                            <input type="hidden" name="pageID" value="@((int)AdminPanelPages.EditChunk)" />
                            <input type="hidden" name="itemID" value="@t.ID">
                            <input type="submit" class="action-button" value="@Html.Raw(localization.EditChunk)" />
                        </form>
                    }
                    @if (SecurityFunctions.HasAccessTo(AdminPanelPages.DeleteChunk, user, Context))
                    {
        <form id="delete-chunk-form-@t.ID">
                            <input type="hidden" name="itemID" value="@t.ID">
                            <input id="delete-chunk-button-@t.ID" type="submit" class="action-button" value="@Html.Raw(localization.DeleteChunk)" />
                        </form>
                        <script>
                            let deleteChunkButton_@(t.ID) = document.getElementById('delete-chunk-button-@t.ID');
                            deleteChunkButton_@(t.ID).addEventListener('click', createSendDataEventHandler('DELETE', '?pageID=@((int)AdminPanelPages.DeleteChunk)', 'delete-chunk-form-@t.ID', () => { alert('@Html.Raw(localization.ChunkDeleted)'); location.reload(); }));
                        </script>
                    }
                    </td>
                </tr>
            }
            </table>