@inject ICategoriesAndProductsLocalization localization
@inject CMSDatabase db
@{
    Layout = "CommonPage";
    Context.Items["PageStyle"] = "/styles/admin_panel/categories_and_products/work_with_page.css";
    CategoryPage categoryPage = Context.Items["CategoryPage"] as CategoryPage;
    Context.Items["PageName"] = $"{localization.AddProductPageName} {categoryPage?.PageName}";
    var templates = db.Templates.ToList();
}
<script src="/scripts/admin_panel/send_data.js"></script>
            <script src="/scripts/admin_panel/checkbox_event_handler.js"></script>
            <form id="add-product-form" class="page-container">
                @*SAVE BUTTON*@
                <input id="submit-button" type="submit" value="@Html.Raw(localization.SaveButton)" />
                <div class="blocks">
                    <div class="left-block">
                        @*TITLE*@
                        <label for="Title">@Html.Raw(localization.ProductTitle)*</label>
                        <input type="text" id="Title" name="PageModel.Title" value="@Model?.Title" required />
                        @*BREADCRUMB*@
                        <label for="PageName">@Html.Raw(localization.ProductBreadcrumb)*</label>
                        <input type="text" id="PageName" name="PageModel.PageName" value="@Model?.PageName" required />
                        @*PRICE*@
                        <div class="price-block">
                            <div>
                                <label for="Price">@Html.Raw(localization.Price)</label>
                                <input type="number" id="Price" name="PageModel.Price" value="@Model?.Price" />
                            </div>
                            <div>
                                <label for="OldPrice">@Html.Raw(localization.OldPrice)</label>
                                <input type="number" id="OldPrice" name="PageModel.OldPrice" value="@Model?.OldPrice" />
                            </div>
                        </div>
                        @*SHORT DESCRIPTION*@
                        <label for="ShortDescription">@Html.Raw(localization.ShortDescription)</label>
                        <textarea class="short-description" rows="3" id="ShortDescription" name="PageModel.ShortDescription">@Model?.ShortDescription</textarea>
                        @*IS SPECIAL PRODUCT?*@
                        <div class="checkbox-block">
                            @if (Model == null || !Model.SpecialProduct)
                            {
                                <input type="checkbox" id="SpecialProduct" name="PageModel.SpecialProduct" value="false" />
                            }
                            else
                            {
                                <input type="checkbox" id="SpecialProduct" name="PageModel.SpecialProduct" value="true" checked />
                            }
                            <script>
                                let specialProductCheckbox = document.getElementById('SpecialProduct');
                                specialProductCheckbox.addEventListener('click', checkboxEventHandler);
                            </script>
                            <label for="SpecialProduct">@Html.Raw(localization.SpecialProduct)</label>
                        </div>
                        @*ADD PARAGRAPH TAG?*@
                        <div class="checkbox-block">
                            <input type="checkbox" id="AddParagraphTag" name="PageModel.AddParagraphTag" value="false" />
                            <script>
                                let addParagraphTagCheckbox = document.getElementById('AddParagraphTag');
                                addParagraphTagCheckbox.addEventListener('click', checkboxEventHandler);
                            </script>
                            <label for="AddParagraphTag">@Html.Raw(localization.AddParagraphTag)</label>
                        </div>
                    </div>
                    <div class="right-block">
                        @*TEMPLATES LIST*@
                        <label for="TemplateId">@Html.Raw(localization.Template)</label>
                        <select id="TemplateId" name="PageModel.TemplateId">
                            <option selected>@Html.Raw(localization.WithoutTemplate)</option>
                            @foreach (var t in templates)
                            {
                            <option value="@t.ID">@Html.Raw(t.Name)</option>
                            }
                        </select>
                        @*ALIAS*@
                        <label for="Alias">@Html.Raw(localization.Alias)</label>
                        <input type="text" id="Alias" name="PageModel.Alias" value="@Model?.Alias" />
                        @*PAGE DESCRIPTION*@
                        <label for="PageDescription">@Html.Raw(localization.PageDescription)</label>
                        <input type="text" id="PageDescription" name="PageModel.PageDescription" maxlength="160" value="@Model?.PageDescription">
                        @*PAGE KEYWORDS*@
                        <label for="PageKeywords">@Html.Raw(localization.PageKeywords)</label>
                        <input type="text" id="PageKeywords" name="PageModel.PageKeywords" value="@Model?.PageKeywords" />
                        @*PUBLISHED?*@
                        <div class="checkbox-block">
                        @if (Model == null || Model.Published)
                        {
                            <input type="checkbox" id="Published" name="PageModel.Published" value="true" checked />
                        }
                        else
                        {
                            <input type="checkbox" id="Published" name="PageModel.Published" value="false" />
                        }
                            <script>
                                let publishedCheckbox = document.getElementById('Published');
                                publishedCheckbox.addEventListener('click', checkboxEventHandler);
                            </script>
                            <label for="Published">@Html.Raw(localization.Published)</label>
                        </div>
                        @*IS INDEX?*@
                        <div class="checkbox-block">
                        @if (Model == null || Model.IsIndex)
                        {
                            <input type="checkbox" id="IsIndex" name="PageModel.IsIndex" value="true" checked />
                        }
                        else
                        {
                            <input type="checkbox" id="IsIndex" name="PageModel.IsIndex" value="false" />
                        }
                            <script>
                                let isIndexCheckbox = document.getElementById('IsIndex');
                                isIndexCheckbox.addEventListener('click', checkboxEventHandler);
                            </script>
                            <label for="IsIndex">@Html.Raw(localization.IsIndex)</label>
                        </div>
                        @*IS FOLLOW?*@
                        <div class="checkbox-block">
                        @if (Model == null || Model.IsFollow)
                        {
                            <input type="checkbox" id="IsFollow" name="PageModel.IsFollow" value="true" checked />
                        }
                        else
                        {
                            <input type="checkbox" id="IsFollow" name="PageModel.IsFollow" value="false" />
                        }
                            <script>
                                let isFollowCheckbox = document.getElementById('IsFollow');
                                isFollowCheckbox.addEventListener('click', checkboxEventHandler);
                            </script>
                            <label for="IsFollow">@Html.Raw(localization.IsFollow)</label>
                        </div>
                    </div>
                </div>
                @*CONTENT*@
                <label for="Content">@Html.Raw(localization.Content)</label>
                <textarea id="Content" name="PageModel.Content">@Model?.Content</textarea>
            </form>
            <script>
                function errorHandler(formElement) {
                    let errorMsg = document.createElement('span');
                    errorMsg.textContent = '@Html.Raw(localization.IncorrectInput)';
                    errorMsg.setAttribute('id', 'error-msg');
                    formElement.insertBefore(errorMsg, formElement.firstChild);
                }
                function successRequestHandler(request) {
                    alert('@Html.Raw(localization.ProductAdded)');
                    location.replace(request.getResponseHeader('location'));
                }
                let searchString = '?pageID=@((int)AdminPanelPages.AddProduct)&itemID=@categoryPage?.ID';
                let submitButton = document.getElementById('submit-button');
                submitButton.addEventListener('click', createSendDataEventHandler('POST', searchString, 'add-product-form', successRequestHandler, errorHandler));
            </script>