@model string[]
@inject ICategoriesAndProductsLocalization localization
@{
    Layout = "CommonPage";
    Context.Items["PageStyle"] = "/styles/admin_panel/categories_and_products/product_images.css";
    ProductPage product = Context.Items["ProductPage"] as ProductPage;
    Context.Items["PageName"] = $"{localization.ProductImagesPageName} {product?.PageName}";
    User user = Context.Items["User"] as User;
}
<script src="/scripts/admin_panel/send_data.js"></script>
            <script src="/scripts/admin_panel/send_file.js"></script>
@if (SecurityFunctions.HasAccessTo(AdminPanelPages.AddProductImage, user, Context))
{
            <form class="upload-image">
                <div class="input-file-button">
                    <label for="upload-file-button">@Html.Raw(localization.UploadImage)</label>
                    <input type="file" id="upload-file-button" name="uploadedFile" accept=".jpg, .jpeg" />
                </div>
            </form>
            <script>
                function successfulRequestHandler() {
                    alert('@Html.Raw(localization.ImageUploaded)');
                    location.reload();
                }
                function errorRequestHandler() {
                    alert('@Html.Raw(localization.UnsuccessfullyImageUploaded)');
                }
                let searchString = '?pageID=@((int)AdminPanelPages.AddProductImage)&itemID=@product?.ID';
                let uploadFileButton = document.getElementById('upload-file-button');
                uploadFileButton.addEventListener('change', createSendFileEventHandler(searchString, successfulRequestHandler, errorRequestHandler,'.jpeg', '.jpg'));
            </script>
}
            <div class="images-list">
    @{
        int imageID = 0;
    }
    @foreach (var m in Model)
    {
                <div class="image-block">
                    <div><image src="@m" max-width="290" max-height="175" quality="80"></image></div>
                    <label>@m.Substring(m.LastIndexOf('/') + 1)</label>
                    <form id="delete-image-form-@(imageID + 1)">
                        <input type="hidden" name="imageID" value="@imageID">
                @if (SecurityFunctions.HasAccessTo(AdminPanelPages.DeleteProductImage, user, Context))
                {
                        <input id="delete-image-button-@(imageID + 1)" type="submit" value="@Html.Raw(localization.DeleteProductImage)" />
                }
                else
                {
                        <input type="submit" value="@Html.Raw(localization.DeleteProductImage)" disabled />
                }
                    </form>
                @if (SecurityFunctions.HasAccessTo(AdminPanelPages.DeleteProductImage, user, Context))
                {
                    <script>
                        let deleteImageButton_@(imageID + 1) = document.getElementById('delete-image-button-@(imageID + 1)');
                        deleteImageButton_@(imageID + 1).addEventListener('click', createSendDataEventHandler('DELETE', '?pageID=@((int)AdminPanelPages.DeleteProductImage)&itemID=@product?.ID', 'delete-image-form-@(imageID + 1)', () => { alert('@Html.Raw(localization.ImageDeleted)'); location.reload(); }));
                    </script>
                }
                </div>
        imageID++;
    }
            </div>