@model LoginFormModel
@inject ILoginFormLocalization localization
@{
    bool incorrect = Model == null ? false : true;
}
<!doctype html>
<html>
<head>
    <title>@Html.Raw(localization.Title)</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/styles/admin_panel/login_form.css" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    @Context.Items["Routes"]
    <div class="loginform_block">
        <form method="post" class="loginform_block">
            @if (incorrect)
            {
                <p>@Html.Raw(localization.IncorrectInput)</p>
            }
            <div class="input_block">
                <label class="loginform_block">@Html.Raw(localization.UserName)</label>
                <input type="text" class="loginform_block" name="Login" value="@Model?.Login">
            </div>
            <div class="input_block">
                <label class="loginform_block">@Html.Raw(localization.Password)</label>
                <input type="password" class="loginform_block" name="Password" value="@Model?.Password">
            </div>
            <input type="submit" class="enter_button" value="@Html.Raw(localization.Enter)" />
        </form>
    </div>
</body>
</html>