@model LoginFormModel
@inject ILoginFormLocalization localization
@{
    bool incorrect = Model == null ? false : true;
}
<!doctype html>
<html>
<head>
    <title>@Html.Raw(localization.Title)</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/styles/admin_panel/common.css" />
    <link rel="stylesheet" type="text/css" href="~/styles/admin_panel/login_form.css" />
</head>
<body>
    @Context.Items["Routes"]
    <form method="post" class="loginFormBlock">
        @if (incorrect)
        {
        <span class="errorMsg">@Html.Raw(localization.IncorrectInput)</span>
        }
        <label for="Login">@Html.Raw(localization.UserName)</label>
        <input type="text" id="Login" name="Login" autocomplete="off" required value="@Model?.Login">
        <label for="Password">@Html.Raw(localization.Password)</label>
        <input type="password" id="Password" name="Password" required value="@Model?.Password">
        <input type="submit" value="@Html.Raw(localization.Enter)" />
    </form>
</body>
</html>