@inject ILoginFormLocalization localization
<!doctype html>
<html>
<head>
    <title>@Html.Raw(localization.Title)</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/admin_panel/common.css" />
    <link rel="stylesheet" type="text/css" href="/styles/admin_panel/login_form.css" />
</head>
<body>
    <form id="login-form" class="login-form-block">
        <label for="Login">@Html.Raw(localization.UserName)</label>
        <input type="text" id="Login" name="Login" autocomplete="off" value="@Model?.Login" required>
        <label for="Password">@Html.Raw(localization.Password)</label>
        <input type="password" id="Password" name="Password" value="@Model?.Password" required>
        <input type="submit" id="submit-button" value="@Html.Raw(localization.Enter)" />
    </form>
    <script src="/scripts/admin_panel/send_data.js"></script>
    <script>
        function errorHandler(formElement) {
            let errorMsg = document.createElement('span');
            errorMsg.textContent = '@Html.Raw(localization.IncorrectInput)';
            errorMsg.setAttribute('id', 'error-msg');
            formElement.insertBefore(errorMsg, formElement.firstChild);
        }
        let submitButton = document.getElementById('submit-button');
        let searchString = '?pageID=@((int)AdminPanelPages.LoginForm)';
        submitButton.addEventListener('click', createSendDataEventHandler('POST', searchString, 'login-form', () => location.reload(), errorHandler));
    </script>
</body>
</html>