@inject IPageLocalization localization
@inject CMSDatabase db
@{
    Layout = "AdminPanelPage";
    Context.Items["PageStyle"] = "/styles/admin_panel/pages/index.css";
    var sortedPages = db.SimplePages.Select(page => new { page.ID, page.Title, page.BreadcrumbName }).OrderBy(page => page.Title).ToList();
}
<a href="@Context.Request.Path?pageID=@((int)AdminPanelPages.AddPage)">@Html.Raw(localization.AddPage)</a><br />
<table>
    @foreach (var p in sortedPages)
    {
        <tr>
            <td>@p.ID</td>
            <td>@p.Title</td>
            <td>@p.BreadcrumbName</td>
        </tr>
    }
</table>