@model PageViewModel[]
@inject IPagesLocalization localization
@{
    Layout = "CommonPage";
    Context.Items["PageStyle"] = "/styles/admin_panel/pages/index.css";
    Context.Items["PageName"] = localization.Pages_PageName;
    User user = Context.Items["User"] as User;
}
@if (SecurityFunctions.HasAccessTo(AdminPanelPages.AddPage, user, Context))
{
<div class="addPageButton">
                <a href="@Context.Request.Path?pageID=@((int)AdminPanelPages.AddPage)">@Html.Raw(localization.AddPage)</a>
            </div>
}
            <table>
                <tr>
                    <td>ID</td>
                    <td>@Html.Raw(localization.Name)</td>
                    <td>URL</td>
                    <td>@Html.Raw(localization.PageType)</td>
                    <td>@Html.Raw(localization.ActionsWithPage)</td>
                </tr>
    @foreach (var p in Model)
    {
                <tr>
                    <td>@Html.Raw(p.ID)</td>
                    <td>@Html.Raw(p.Name)</td>
                    <td>@Html.Raw(p.Url)</td>
                    <td>@Html.Raw((p.PageType == PageType.Usual ? localization.Usual : localization.Category))</td>
                    <td>
                @if (SecurityFunctions.HasAccessTo(AdminPanelPages.EditPage, user, Context))
                {
                        <form method="get">
                            <input type="hidden" name="pageID" value="@((int)AdminPanelPages.EditPage)" />
                            <input type="hidden" name="pageType" value="@((int)p.PageType)" />
                            <input type="hidden" name="itemID" value="@p.ID">
                            <input type="submit" class="actionButton" value="@Html.Raw(localization.EditPage)" />
                        </form>
                }
                @if (SecurityFunctions.HasAccessTo(AdminPanelPages.DeletePage, user, Context))
                {
                        <form method="post">
                            <input type="hidden" name="pageID" value="@((int)AdminPanelPages.DeletePage)" />
                            <input type="hidden" name="pageType" value="@((int)p.PageType)" />
                            <input type="hidden" name="itemID" value="@p.ID">
                            <input type="submit" class="actionButton" value="@Html.Raw(localization.DeletePage)" />
                        </form>
                }
                    </td>
                </tr>
    }
            </table>