@using Treynessen.OtherTypes
@using Treynessen.Extensions
@using Microsoft.AspNetCore.Hosting
@model List<ProductPage>
@inject IHostingEnvironment env
@inject IProductsLocalization localization
@{ 
    Layout = "CommonPage";
    Context.Items["PageStyle"] = "/styles/admin_panel/products/categoryProducts.css";
    int categoryID = (int)Context.Items["itemID"];
    string categoryName = Context.Items["categoryName"] as string;
    User user = Context.Items["User"] as User;
}
@if (DataCheck.HasAccessTo(AdminPanelPages.AddProduct, user, Context))
{
            <div class="addProductButton">
                <a href="@Context.Request.Path?pageID=@((int)AdminPanelPages.AddProduct)&itemID=@categoryID">@Html.Raw($"{localization.AddProductInCategory} <b>{categoryName}</b>")</a>
            </div>
}
            <table>
                <tr>
                    <td></td>
                    <td>@Html.Raw(localization.Name)</td>
                    <td>URL</td>
                    <td>@Html.Raw(localization.ActionsWithProduct)</td>
                </tr>
    @foreach (var p in Model)
    {
                <tr>
                    <td><image src="@Html.Raw($"{env.GetProductsImagesPath(true)}{p.PreviousPageID.ToString()}{p.ID.ToString()}/{OtherFunctions.GetCorrectName(p.PageName, Context)}.jpg")" max-height="150" max-width="150"></image></td>
                    <td>@Html.Raw($"{p.PageName} <b>(ID{p.ID.ToString()})</b>")</td>
                    <td>@Html.Raw(OtherFunctions.GetUrl(p.RequestPathWithoutAlias, p.Alias))</td>
                    <td>
            @if (DataCheck.HasAccessTo(AdminPanelPages.EditPage, user, Context))
            {
                        <form method="get">
                            <input type="hidden" name="pageID" value="@((int)AdminPanelPages.EditProduct)" />
                            <input type="hidden" name="itemID" value="@p.ID">
                            <input type="submit" class="actionButton" value="@Html.Raw(localization.EditProduct)" />
                        </form>
            }
            @if (DataCheck.HasAccessTo(AdminPanelPages.ProductImages, user, Context))
            {
                        <form method="get">
                            <input type="hidden" name="pageID" value="@((int)AdminPanelPages.ProductImages)" />
                            <input type="hidden" name="itemID" value="@p.ID">
                            <input type="submit" class="actionButton" value="@Html.Raw(localization.ProductImages)" />
                        </form>
            }
            @if (DataCheck.HasAccessTo(AdminPanelPages.DeletePage, user, Context))
            {
            <form method="post">
                            <input type="hidden" name="pageID" value="@((int)AdminPanelPages.DeleteProduct)" />
                            <input type="hidden" name="itemID" value="@p.ID">
                            <input type="submit" class="actionButton" value="@Html.Raw(localization.DeleteProduct)" />
                        </form>
            }
                    </td>
                </tr>
    }
            </table>