@using Treynessen.Functions;
@using Treynessen.Database.Entities;
@addTagHelper Treynessen.TagHelpers.ImageTagHelper, StoreCMS
@model ProductPage
<a class="product" href="@(Model != null ? Html.Raw(Model.RequestPath) : Html.Raw(string.Empty))">@(Model is ProductPage && (Model as ProductPage).Price > 0 && (Model as ProductPage).OldPrice > 0 ? Html.Raw("<div class=\"stock\"></div>") : Html.Raw(string.Empty))@(Model is ProductPage && (Model as ProductPage).SpecialProduct ? Html.Raw("<div class=\"best\"></div>") : Html.Raw(string.Empty))
	<image src="@(Model is ProductPage ? "/images/products/" + Model.PreviousPageID.ToString() + Model.ID.ToString() + "/" + Model.Alias + ".jpg" : string.Empty)" width="150" height="115" quality="90"></image>
	<div class="productInfo">
		<span class="productName">@(Model is ProductPage ? Html.Raw((Model as ProductPage).PageName) : Html.Raw(string.Empty))</span>
		<div class="shortDescription"><span>@(Model is ProductPage ? Html.Raw((Model as ProductPage).ShortDescription) : Html.Raw(string.Empty))</span></div>
	</div>
	<div class="productPrice">@(Model is ProductPage && (Model as ProductPage).OldPrice != 0 ? Html.Raw("<span>" + OtherFunctions.FormatPrice((Model as ProductPage).Price) + "</span><span>" + OtherFunctions.FormatPrice((Model as ProductPage).OldPrice) + "</span>") : Html.Raw("<span>" + OtherFunctions.FormatPrice((Model as ProductPage).Price) + "</span>"))</div>
</a>